@font-face {
  font-family: "futura_md_btmedium";
  src: url("./fonts/futura_medium_bt-webfont.woff2") format("woff2"),
    url("./fonts/futura_medium_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bodyBg: #fafafa;
  --menuBg: #c4c1e0;
  --segmentBg: #ffe9e3;
  --btnBg: #7c73e6;
}
a {
  text-decoration: none !important;
  color: white;
}
body {
  font-family: "futura_md_btmedium";
  background: var(--bodyBg);
  box-sizing: border-box;
}
.ui.text.container,
.ui.header,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.items > .item > .content > .header,
.ui.button,
.ui.message .header {
  font-family: "futura_md_btmedium" !important;
}
#menu {
  background: var(--menuBg);
  border-radius: 0px;
}
.ui.text.container {
  margin: 0 !important;
}
#main {
  width: 60%;
  margin: 0 auto;
  padding-top: 5vh;
}
#landing {
  width: 90%;
  margin: 0 auto;
}
/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
.right.item.browse {
  padding-right: 10vw;
}
.seg-header {
  background-color: var(--segmentBg) !important;
  color: #59606d !important;
}
.seg-text {
  color: #59606d !important;
}
.seg-btn {
  background-color: var(--btnBg) !important;
  color: white !important;
}
.alert {
  margin: 10px !important;
}
