:root {
  --bodyBg: #f0f4f8;
  --menuBg: #334d68;
  --progressBar: #54d1db;
}
a {
  text-decoration: none !important;
  color: white;
}
body {
  background: var(--bodyBg);
}

#menu {
  background: var(--menuBg);
  border-radius: 0px;
}
.ui.text.container {
  margin: 0 !important;
}
#main {
  width: 80%;
  margin: 0 auto;
}
/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
